.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b5998;
  min-height: 100vh;
}
.adminContainer {
  margin: 20px;
}

.adminTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.adminTable th,
.adminTable td {
  border: 1px solid rgb(196, 189, 189);
  padding: 8px;
  text-align: left;
  background-color: white;
}

.adminTable th {
  background-color: #f2f2f2;
}
.logout {
  background-color: white;
  color: black;
  display: flex;
  justify-content: flex-end;
}
.logout:hover {
  background-color: #3b5998;
  color: white;
}
@media (max-width: 768px) {
  .adminContainer {
    width: 95%;
    margin: 0 auto;
    overflow-x: auto;
  }
  .adminTable th,
  .adminTable td {
    font-size: 14px;
  }
}
