.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b5998;
  min-height: 100vh;
  color: black;
}
.panel {
  background-color: white;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 8px;
  width: 600px;
}
.panel h3 {
  text-align: center;
}
.panel p {
  padding: 5px 0;
}
.panel button {
  margin: 20px 0 0 0;
}
.chooseDiv {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #3b5998;
  margin: 10px 0;
}
.chooseColor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  text-align: center;
}
.btnsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .panel {
    width: 95%;
    margin: 0 auto;
  }
}
